<%- include("partials/header"); -%>

<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/parallax.js"></script>
<style>

  video {
    margin-top: -40px;
  }

  .column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row {margin: 0 -5px;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
</style>

  <div class="services">
    <div class="container">
      <div class="text-center">
        <div class="services-box">
          <h1>Stories behind some of most important, useful inventions in human history</h1>
          <p>The earliest human inventions included stone tools, fire, boats, spears, glue, clothing and other items that we still use today.Many know the stories behind some of the most famous inventions, like the wheel, the automobile, the engine, the light bulb and the computer. But what about those every day inventions that we don't normally think about? The ones that we, perhaps, take for granted? Here's a look at the stories behind some of mankind's most important and useful inventions:</p>
          <%  posts.forEach(function(post){ %>
            <h2><%=post.title%></h2>
            <p style="color: black;">
            <%=post.content.substring(0, 500) + " ..."%>
             <a href="/posts/<%=post._id%>">Read More</a>
            </p>          
            <% }) %>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-window" data-parallax="scroll" data-image-src="images/dog.jpg" style="height: 300px;">
    <h1 style="color: black; font-size: 30px; font-family: 'Lobster', cursive; padding-top: 70px; text-align: center;">
        <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>
    </h1>
  </div>
   
  <div class="skills">
    <div class="container">
      <div class="text-center">
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
          <h2>Video Suggestions</h2>
        </div>
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
          <p>If you wanna watch some videos then below are few video suggestion which you may find interesting.</p>
        </div>
      </div>
    </div>
  </div>

      
      <div class="row">
        <div class="column">
        <div class="card" style="width: 40rem; margin-left: 125px; ">
          <iframe width="370" height="280" src="https://www.youtube.com/embed/c0bsKc4tiuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <h5 class="card-title">Why you should make useless things | Simone Giertz</h5>
            <p class="card-text" style="color: black;">In this joyful, heartfelt talk featuring demos of her wonderfully wacky creations, Simone Giertz shares her craft: making useless robots. Her inventions -- designed to chop vegetables, cut hair, apply lipstick and more -- rarely (if ever) succeed, and that's the point. "The true beauty of making useless things [is] this acknowledgment that you don't always know what the best answer is," Giertz says. "It turns off that voice in your head that tells you that you know exactly how the world works. Maybe a toothbrush helmet isn't the answer, but at least you're asking the question."</p>
            <a href="https://youtu.be/c0bsKc4tiuY" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="width: 40rem; margin-left: 175px;">
          <iframe width="370" height="280" src="https://www.youtube.com/embed/Mtjatz9r-Vc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">Everyone should invent | Mark Champkins | TEDxLondon</h5>
            <p class="card-text" style="color: black;">Mark Champkins thinks there's an inventor in all of us. He urges us to embrace our ideas - even the bad ones - and reconnect with our inner-child.Mark Champkins is a product designer and the Science Museum’s first ever “Inventor in Residence”. Mark studied Manufacturing Engineering at the University of Cambridge and Industrial Design Engineering at the Royal College of Art (RCA). Whilst at the RCA, Champkins designed a range of Self-Heating Crockery which won British Invention of the Year.</p>
            <a href="https://youtu.be/Q2eRCsZLeQA" class="btn btn-primary">Watch</a>
          </div>
        </div>
      </div>
        <div class="column">
        <div class="card" style="width: 40rem; margin-left: 225px;">
          <iframe width="370" height="280" src="https://www.youtube.com/embed/fxbCHn6gE3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">The surprising habits of original thinkers | Adam Grant</h5>
            <p class="card-text" style="color: black;">How do creative people come up with great ideas? Organizational psychologist Adam Grant studies "originals": thinkers who dream up new ideas and take action to put them into the world. In this talk, learn three unexpected habits of originals — including embracing failure. "The greatest originals are the ones who fail the most, because they're the ones who try the most," Grant says. "You need a lot of bad ideas in order to get a few good ones."</p>
            <a href="https://youtu.be/fxbCHn6gE3U" class="btn btn-primary">Watch</a>
          </div>
        </div> 
      </div>     
    </div>
 
    <div class="skill">
      <div class="container">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h3>Do you have some good ideas for inventions and discoveries and wanna share with others then fill these details and we'll publish your ideas here on our website.</h3>
            <form action="/ideas" method="post" role="form" onSubmit="window.location.reload();" >
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="idea" rows="5" data-rule="required" data-msg="Give your ideas for creative inventions" placeholder="Ideas"></textarea>
                <div class="validation"></div>
              </div>    
              <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Submit</button></div>
           </form>
        </div>
      </div>
      
    
    </div>
  </div>

  <%- include("partials/footer"); -%>