<%- include("partials/header"); -%>

<div class="container" style="margin-bottom: 200px; ">
<h1><%= name %></h1> 
<h3><%= title %></h3>
<p style="color: black;"><%= content %></p>
</div>

<%- include("partials/footer"); -%>


      
