<%- include("partials/header"); -%>

<div class="container" style="margin-bottom: 200px; padding: 35px; text-align:center; align-content:center; ">
    <% if(files){ %>
        <% for(var j=0;j<files.length;j++) {%>
              <% file = files[j] %>
              <% const filename = title + ".jpg"; %>  
               <% if(file.isImage && file.filename == filename) { %>
                <div class="wow lightSpeedIn" data-wow-offset="0" data-wow-delay="0.5s">
                    <div style="margin-left: 370px; border-width=10px;">
                        <img class="img-responsive" src="image/<%= file.filename %>" alt="">
                    </div>
                    <% break; %>                                      
               <% } %>
                 <% } %>
                 <% } %>
              <hr style="height:1px;border-width:0;color:black;background-color:black;">
              <div class="wow shake" data-wow-offset="0.5" data-wow-delay="1s">
                <h3 style="color: black; font-family:fantasy; font-size:28px; font-weight:bold;"><%= title %></h3>
              </div>
                
              <hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p style="color: black; font-family:serif; font-size:18px; font-weight:italic;"><%= content %></p>
</div>
</div>

<%- include("partials/footer"); -%>


      
