<%- include("partials/header"); -%>

  <section id="portfolio">
    <div class="container">
      <div class="col-lg-12">
        <div class="text-center">
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <h2>Categories</h2>
          </div>
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
            <p>Here you guys can explore different innovations on a specific field</p>
          </div>
        </div>


        <ul class="portfolio-filter text-center">
          <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".nanotechnology">Nanotechnology</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".robotics">Robotics</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".biotechnology">Biotechnology</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".astronomy">Astronomy</a></li>
        </ul>
        <!--/#portfolio-filter-->

        <div class="row">
          <div class="portfolio-items">
             <%  for(var i=0;i<categories.length;i++) {%>
              <% category = categories[i]; %> 
              <% var nm = category.name.toLowerCase(); %>       
              <div class="portfolio-item <%= nm %> apps col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
              <% if(files){ %>
                    <% for(var j=0;j<files.length;j++) {%>
                          <% file = files[j] %>
                          <% const filename = category.title + ".jpg"; %>  
                           <% if(file.isImage && file.filename == filename) { %>
                            <img class="img-responsive" src="image/<%= file.filename %>" alt="">
                                <% break; %>                                      
                           <% } %>
                             <% } %>
                             <% } %>
                             <div class="overlay">
                              <div class="recent-work-inner">
                                <h4><a href="#"><%= category.title %></a></h4>
                                <p><%= category.content.substring(0,100) + "...." %></p>
                                <a href="/category/<%= category._id %>" class="preview"><i class="fa fa-eye"></i> View</a>
                              </div>
                  </div>
                </div>
              </div>
                   <% } %>                       
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#portfolio-item-->

  <%- include("partials/footer"); -%>